* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans KR", Arial, sans-serif;
    color: #0b2c61;
    background: #f3faff;
}

button {
    border: none;
    cursor: pointer;
    font-family: inherit;
}

a {
    text-decoration: none;
}


/* =========================
   HEADER
========================= */

.header {
    width: 100%;
    height: 68px;
    background: #ffffff;
    border-bottom: 1px solid #e8eef5;
}

.header-inner {
    width: 1390px;
    max-width: calc(100% - 70px);
    height: 100%;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* 로고 */

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo-symbol {
    font-size: 39px;
    font-weight: 800;
    color: #147bc0;
    line-height: 1;
}

.logo-text {
    font-size: 27px;
    font-weight: 700;
    color: #20579a;
    letter-spacing: -1.5px;
}

.logo-text span {
    color: #168ed0;
}


/* 메뉴 */

.nav {
    display: flex;
    gap: 75px;
    margin-left: 70px;
}

.nav a {
    color: #12376d;
    font-size: 16px;
    font-weight: 700;
}

.nav a:hover {
    color: #2587ed;
}


/* 사용자 */

.user-area {
    display: flex;
    align-items: center;
    gap: 13px;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    line-height: 1.4;
}

.user-info strong {
    font-size: 13px;
}

.user-info span {
    color: #617694;
    font-size: 13px;
}

.user-icon {
    width: 40px;
    height: 40px;

    border-radius: 50%;
    background: #e9f5ff;

    color: #174d88;
    font-size: 25px;
}

.user-icon img{
    width: 20px;
    height: 20px;
}

.menu {
    width: 34px;
    height: 35px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;

    background: transparent;
}

.menu span {
    display: block;
    width: 26px;
    height: 2px;
    background: #0b326b;
    border-radius: 2px;
}


/* =========================
   HERO
========================= */

.hero {
    position: relative;
    overflow: hidden;

    padding: 60px 0 45px;

    background:
        radial-gradient(
            circle at 92% 35%,
            rgba(216, 238, 255, 0.9) 0,
            rgba(216, 238, 255, 0.9) 10%,
            transparent 10.2%
        ),
        linear-gradient(
            110deg,
            #f8fcff 0%,
            #eef8ff 50%,
            #f5fbff 100%
        );
}

.hero-inner {
    width: 1390px;
    max-width: calc(100% - 70px);

    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 1.4fr;

    gap: 55px;

    align-items: center;
}


/* 왼쪽 */

.intro {
    padding-left: 12px;
}

.service-label {
    display: inline-flex;
    align-items: center;
    gap: 7px;

    padding: 7px 13px;

    border-radius: 20px;

    background: #e5f4ff;
    color: #0c6dd4;

    font-size: 14px;
    font-weight: 700;

    margin-bottom: 18px;
}

.intro h1 {
    font-size: 42px;
    line-height: 1.25;

    color: #09285d;

    letter-spacing: -2.5px;
}

.intro h1 em {
    font-style: normal;
    color: #2787ed;
}

.intro-text {
    margin-top: 17px;

    color: #607797;

    font-size: 15px;
    line-height: 1.8;
}


/* 특징 */

.features {
    display: flex;
    align-items: center;

    margin-top: 27px;
    gap: 18px;
}

.feature {
    display: flex;
    align-items: center;

    gap: 10px;

    padding-right: 18px;

    border-right: 1px solid #dce7f1;
}

.feature:last-child {
    border-right: none;
}

.feature-icon {
    width: 40px;
    height: 40px;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #e4f3ff;

    color: #126ed8;

    font-size: 20px;
}

.feature-icon img{
    width: 25px;
    height: 25px;
}

.feature strong {
    display: block;

    color: #173a70;

    font-size: 13px;
}

.feature span {
    display: block;

    color: #7187a4;

    font-size: 11px;

    margin-top: 2px;
}


/* =========================
   SERVICE CARD
========================= */

.service-list {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 16px;
}

.service-card {
    min-height: 304px;

    padding: 20px 27px 22px;

    border-radius: 16px;

    border: 1px solid #dce9f5;

    background: rgba(255, 255, 255, 0.9);

    box-shadow:
        0 12px 35px rgba(55, 117, 178, 0.08);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.video-card {
    background:
        linear-gradient(
            145deg,
            #ffffff,
            #fbf9ff
        );
}


/* 카드 상단 */

.service-content {
    display: flex;
    align-items: center;

    gap: 20px;
}


/* 아이콘 */

.media-icon {
    position: relative;

    width: 138px;
    height: 138px;

    flex-shrink: 0;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 50px;

    background:
        radial-gradient(
            circle,
            #f2f9ff 0 54%,
            #e6f3ff 55% 70%,
            transparent 71%
        );
}


/* 이미지 아이콘 */
.media-icon {
    position: relative;

    width: 138px;
    height: 138px;

    flex-shrink: 0;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    background:
        radial-gradient(
            circle,
            #e6f3ff 0% 70%,
            transparent 71%
        );
}


/* 이미지 아이콘 */
.image-icon img {
    width: 165px;
    height: 165px;
    padding: 20px 5px 0 10px;
    object-fit: contain;

    display: block;
}


/* + 버튼 */
.b {
    position: absolute;

    right: 10px;
    bottom: 14px;

    width: 30px;
    height: 30px;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #2378df;
    color: #fff;
    border: 3px solid rgba(255, 255, 255, 0.35); 
    background-clip: padding-box;

    font-size: 23px;
    font-weight: 700;

    z-index: 2;
}

.video-icon {
    background:
        radial-gradient(
            circle,
            #f5f1ff 0 54%,
            #ece6ff 55% 70%,
            transparent 71%
        );
}

.video-icon img{
    width: 165px;
    height: 165px;
    padding: 20px 5px 0 10px;
    object-fit: contain;

    display: block;
}

.v {
    position: absolute;

    right: 10px;
    bottom: 16px;

    width: 30px;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    background-color: #6648df;
    border: 3px solid rgba(255, 255, 255, 0.35); 
    background-clip: padding-box;

    color: white;

    font-size: 23px;
}

/* 카드 텍스트 */

.service-info {
    flex: 1;
}

.type-label {
    display: inline-block;

    padding: 4px 9px;

    border-radius: 14px;

    background: #e4f3ff;
    color: #2683e9;

    font-size: 12px;
    font-weight: 700;

    margin-bottom: 7px;
}

.video-card .type-label {
    background: #eeebff;
    color: #7055e9;
}

.service-info h2 {
    color: #092b63;

    font-size: 24px;

    letter-spacing: -1.2px;

    margin-bottom: 9px;

    white-space: nowrap;
}

.service-info p {
    color: #607696;

    font-size: 12px;

    line-height: 1.7;

    margin-bottom: 8px;
}

.service-info small {
    color: #7187a5;

    font-size: 11px;
}


/* 시작하기 */

.start-btn {
    width: 100%;
    height: 52px;

    border-radius: 12px;

    color: white;

    font-size: 15px;
    font-weight: 700;

    transition: 0.2s;
}

.start-btn:hover {
    transform: translateY(-2px);
}

.start-btn.blue {
    background: linear-gradient(
        100deg,
        #2186f4,
        #2883ed
    );
}

.start-btn.purple {
    background: linear-gradient(
        100deg,
        #745cef,
        #7653e8
    );
}

.start-btn span {
    display: inline-flex;

    width: 26px;
    height: 26px;

    align-items: center;
    justify-content: center;

    border: 1px solid rgba(255,255,255,.7);

    border-radius: 50%;

    margin-right: 8px;
}


/* =========================
   HISTORY
========================= */

.history {
    width: 1415px;
    max-width: calc(100% - 80px);

    margin: 0 auto 40px;

    padding: 22px 25px 24px;

    background: #ffffff;

    border-radius: 17px;

    box-shadow:
        0 9px 30px rgba(55, 117, 178, 0.09);
}


/* 제목 */

.history-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-bottom: 16px;
}

.history-title {
    display: flex;
    align-items: center;

    gap: 15px;
}

.clock {
    width: 40px;
    height: 40px;

    border: 3px solid #0d3975;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 27px;
}
.clock img{
    width: 27px;
    height: 27px;
}

.history-title h2 {
    color: #0a2d66;

    font-size: 20px;

    letter-spacing: -1px;
}

.history-title p {
    color: #7b8ea8;

    font-size: 12px;

    margin-top: 2px;
}

.more {
    color: #1680ed;

    font-size: 13px;

    font-weight: 700;
}


/* =========================
   TABLE
========================= */

.table-container {
    border: 1px solid #edf2f8;

    border-radius: 12px;

    overflow: hidden;
}

table {
    width: 100%;

    border-collapse: collapse;

    table-layout: fixed;
}

thead {
    background: #f4f8fe;
}

th {
    height: 43px;

    text-align: left;

    padding: 0 18px;

    color: #183a6c;

    font-size: 12px;
}

th:nth-child(1) {
    width: 39%;
}

th:nth-child(2) {
    width: 15%;
}

th:nth-child(3) {
    width: 16%;
}

th:nth-child(4) {
    width: 18%;
}

th:nth-child(5) {
    width: 12%;

    text-align: center;
}

td {
    height: 69px;

    padding: 0 18px;

    border-top: 1px solid #edf2f7;

    color: #183c73;

    font-size: 12px;
}


/* 파일 */

.file-name {
    display: flex;
    align-items: center;

    gap: 23px;

    min-width: 0;
}

.file-name img {
    width: 75px;
    height: 47px;

    object-fit: cover;

    border-radius: 8px;

    flex-shrink: 0;
}

.file-name span {
    overflow: hidden;

    text-overflow: ellipsis;

    white-space: nowrap;
}


/* 파일 타입 */

.file-type {
    display: inline-flex;
    align-items: center;

    padding: 5px 12px;

    border-radius: 10px;

    background: #e7f5ff;

    color: #2081e8;

    font-weight: 600;
}

.file-type.video {
    background: #efedff;
    color: #6d55e8;
}


/* 날짜 */

.date {
    color: #6b83a4;
}


/* 상태 */

.status-box {
    display: flex;
    flex-direction: column;

    gap: 2px;
}

.status {
    width: max-content;

    display: inline-flex;
    align-items: center;

    gap: 6px;

    padding: 5px 10px;

    border-radius: 13px;

    background: #e9faf3;

    color: #0baf70;

    font-weight: 700;
}

.status-box small {
    margin-left: 38px;

    color: #8091a8;

    font-size: 10px;
}


/* 상세보기 */

.detail-btn {
    display: block;

    margin: auto;

    padding: 8px 18px;

    border-radius: 17px;

    border: 1px solid #e1eaf5;

    background: white;

    color: #1680ed;

    font-size: 12px;

    box-shadow:
        0 2px 7px rgba(33,87,139,.05);
}


/* =========================
   반응형
========================= */

@media (max-width: 1100px) {

    .nav {
        gap: 30px;
        margin-left: 20px;
    }

    .hero-inner {
        grid-template-columns: 1fr;
    }

    .service-list {
        max-width: 900px;
    }

}


@media (max-width: 760px) {

    .header-inner {
        max-width: calc(100% - 30px);

        flex-wrap: wrap;

        height: auto;

        padding: 10px 0;
    }

    .nav {
        order: 3;

        width: 100%;

        margin: 0;

        gap: 20px;

        overflow-x: auto;
    }

    .nav a {
        white-space: nowrap;

        font-size: 12px;
    }

    .user-info {
        display: none;
    }

    .hero-inner {
        max-width: calc(100% - 30px);
    }

    .service-list {
        grid-template-columns: 1fr;
    }

    .features {
        flex-wrap: wrap;
    }

    .feature {
        border-right: none;
    }

    .history {
        max-width: calc(100% - 30px);

        overflow: hidden;
    }

    .table-container {
        overflow-x: auto;
    }

    table {
        min-width: 850px;
    }

}